{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/Inscription.css')}}">
{% endblock %}
{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Inscription</h1>
                {{ form_start(utilisateurForm) }}
                    <fieldset class="mb-3">
                        <legend>Mon identité</legend>

                        {{form_row(utilisateurForm.citycode, {'attr': {'class': 'hidden-input'}})}} 
                        {{ form_row(utilisateurForm.nom) }}
                        {{ form_row(utilisateurForm.prenom) }}
                        {{ form_row(utilisateurForm.email) }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend>Mes coordonnées</legend>
                        {{ form_row(utilisateurForm.adresse) }}
                        {{form_row(utilisateurForm.cp)}}
                        {# {{ form_row(utilisateurForm.nom_Ville) }} #}
                    </fieldset>
                    {{ form_row(utilisateurForm.mdp, {
                        label: 'Password'
                    }) }}
                    {{ form_row(utilisateurForm.RGPDConsent) }}

                    <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
                    <a href="{{ path('app_auth') }}" class="btn btn-secondary">Me connecter</a>
                {{ form_end(utilisateurForm) }}            
            </div>
        </div>
    </section>
    {% endblock %}
    {% block javascripts %}
    <script>
        $("#utilisateur_adresse").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?q=8",
                    data: {
                        q: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        var addresses = [];
                        response($.map(data.features, function (item) {
                            return {
                                label: item.properties.name + ", " + item.properties.postcode + " - " + item.properties.city,
                                address: item.properties.name,
                                postcode: item.properties.postcode,
                                city: item.properties.city,
                                value: item.properties.name,
                                citycode: item.properties.citycode
                            };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#utilisateur_adresse').val(ui.item.address);
                $('#utilisateur_cp').val(ui.item.postcode);
                $('#utilisateur_nom_Ville').val(ui.item.city);
                $('#utilisateur_citycode').val(ui.item.citycode);
            }
        });
    </script>
{% endblock %}